@{
    ViewData["Title"] = "Política de Privacidade PetVet";
}
<h1>@ViewData["Title"]</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget velit aliquet sagittis id consectetur purus ut faucibus. Orci porta non pulvinar neque laoreet suspendisse interdum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Sit amet consectetur adipiscing elit ut aliquam purus sit. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Lobortis elementum nibh tellus molestie. Sodales ut eu sem integer. Pellentesque elit eget gravida cum. Magna fermentum iaculis eu non diam. Felis eget nunc lobortis mattis aliquam faucibus purus. Scelerisque varius morbi enim nunc faucibus a pellentesque.
<br>
Ut sem viverra aliquet eget sit amet. Aenean et tortor at risus viverra adipiscing at in tellus. Pretium viverra suspendisse potenti nullam ac. Tortor vitae purus faucibus ornare suspendisse. Felis eget velit aliquet sagittis id consectetur. Mi quis hendrerit dolor magna eget. Vitae sapien pellentesque habitant morbi tristique senectus et netus. In nibh mauris cursus mattis molestie a iaculis at. Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Egestas purus viverra accumsan in nisl nisi. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Mauris vitae ultricies leo integer. Enim tortor at auctor urna nunc id cursus metus.</p>
