<h3>Aqui você encontra:</h3>
<ul>
<li>Avaliação Médica
<ul>
<li>Pronto Atendimento</li> 
<li>Consulta Agendada </li>
</ul>
<li>Vacinação
<ul>
<li>Antirrábica.</li> 
<li>Vacina polivalente ou múltipla. </li> 
<li>Gripe canina.</li> 
<li>Vacina para giardíase. </li> 
<li>Leishmaniose. </li> 
<li>Filariose</li> 
</ul>
<li>Castração</li>
<li>Exames</li>
<ul>
<li>Checkup</li> 
<li>Ultrassonografia </li> 
<li>Raio-X</li> 
<li>Exame Oftalmológico </li> 
</ul>
<li>Cirurgias</li>
<li>Internação</li>
